@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo del contenedor */
.contenedor {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

/* Estilo de la imagen */
.imagen {
  width: 200px;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}

/* Estilo del cuadro de información */
.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
}
